# This file is used to install the required packages for the backend of the application.
# You can install the packages using pip:   
# pip install -r requirements.txt
# Make sure to create a virtual environment before installing the packages
fastapi
uvicorn
sqlalchemy
mysql-connector-python
python-dotenv
pydantic
aiofiles
python-multipart
fastapi[all]
